
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
}
body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'DMSans';
    src: url('../fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/Newsreader-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Newsreader';
    src: url('../fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

.top_header {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1vw;
    font-family: 'Dosis';
    letter-spacing: 0.2em; 
}

a {
    color: #B3E5FC;
}
a:hover {
    color: #E1F5FE;
}
a:visited {
    color: #80DEEA;
}
.top_header a {
    color: white;
    text-decoration: none;
}
.top_header a:hover {
    color: white;
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left_header {
    width: 30%; 
    background-color: #333;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.right_header {
    width: 70%; 
    background-image: url('../pictures/asakusa_skyline2.jpg');
    background-size: cover;
    background-position: center;
    text-align: left;
    padding-left: 5vw;
    padding-right: 10vw;
    box-sizing: border-box;
    color: white;
    flex-direction: column;
    display: flex;
}

.content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

/* *, *:before, *:after {
    box-sizing: inherit;
} */

.left_header img.profile {
    max-width: 50%;
    height: auto;
    padding-top: 2vw;
    margin-bottom: -2vw;
    margin: 0 auto;
    display: box;
}

.left_header img.icons {
    max-width: 2.5vw;
    height: auto;
}

.left_header p.name {
    font-size: 3vw;
    font-family: 'Newsreader', serif;
    font-weight: 600;
    padding-bottom: 3vw;
    padding-top: 4vw;
}
.left_header p.self_title {
    font-family: 'Garamond', serif;
    font-size: 1.5vw;
    /* padding-top: -2vw; */
    line-height: 1.0;
}
.left_header p.blurb {
    font-size: 1.3vw;
    font-family: 'Newsreader', serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1vw;
    /* line-height: 0.75; */
    /* letter-spacing: 0.05em;  */

}

.left_header p.info {
    font-size: 1.5vw;
    font-family: 'Dosis', monospace;
    margin-bottom: 1vw;
    letter-spacing: 0.02em; 

}

.left_header .links {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 2vw;
}

.left_header .download-resume {
    display: center;
    padding: 0.5vw 2vw;
    background-color: #444;
    color: white;
    font-size: 1.3vw;
    font-family: 'DMSans', monospace;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    cursor: pointer;
    white-space: nowrap;
    
    /* width: auto; */
}

.spiel {
    display: flex;
    flex-direction: column;
}
.right_header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}
.right_header p.hi {
    font-family: 'Newsreader', sans-serif;
    font-size: 4vw;
    font-weight: 700;
    padding-bottom: 1vw;
    padding-top: 5vw;
}

.right_header p.spiel {
    font-family: 'Newsreader', sans-serif;
    font-size: 2.5vw;
    font-weight: 400;
    flex-direction: column;
    margin-top: 0vw;
    margin-left: 2vw;
    letter-spacing: 0.03em; 
}
.right_header p.spiel_japanese {
    font-size: 1.5vw;
    font-weight: 600;
    padding-left: 3vw;
    /* padding-bottom: 16vw; */
    /* margin-top: 12vw; */
    /* display: inline-block; */
}

.skills_container {
    width: 30%;
    text-align: left;
    /* box-sizing: border-box; */
    color: white;
    background-color: #585858;
    padding: 0;
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 5vw;
    padding-left: 2vw;
}

.skills {
    display: flex;
    flex-direction: column;
}

p.section_title {
    padding-left: 5vw;
    padding-bottom: 0vw;
    font-size: 2vw;
    font-family: 'Newsreader', sans-serif;
    font-weight: 800;
    padding-top: 2vw;
    padding-bottom: 0.2vw;
}
p.skills_section_title{
    padding-left: 1vw;
    padding-bottom: 0vw;
    font-size: 2vw;
    font-family: 'Newsreader', sans-serif;
    font-weight: 800;
    padding-top: 4vw;
    padding-bottom: 2vw;
}

.skills p.list_title {
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 600;
    margin-left: 2vw;
    font-family: 'Newsreader', sans-serif;
    padding-bottom: 1vw;
}

.skills p.skills_list {
    font-size: 1.5vw;
    font-family: 'Dosis', sans-serif;
    margin-left: 3vw;
    line-height: 1.4;
    margin-bottom: 1vw;
}

.skills_group {
    display: flex;
    flex-direction: column;
}

.education_and_experience_container {
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 70%;
    color: white;
}
.education_container {
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    color: white;
    padding-bottom: 3vw;
    
}
.experience_container {
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 100%;
    color: white;
    padding-bottom: 3vw;
}
p.education_item_title {
    font-family: 'Newsreader', sans-serif;
    font-weight: 400;
    padding-left: 8vw;
    line-height: 1.2;
}

p.education_item_courses {
    font-family: 'Dosis', sans-serif;
    padding-left: 8vw;
    padding-right: 6vw;
    font-weight: 200;
}
p.education_item_desc {
    font-family: 'Newsreader', sans-serif;
    padding-left: 8vw;
    padding-right: 6vw;
    font-weight: 200;
    line-height: 1.2;
}

.references {
    padding-bottom: 6vw;
}

p.reference_item {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-size: 1.5vw;
    padding-left: 8vw;
    padding-right: 6vw;
}
/* Mobile site specs */
@media screen and (max-width: 800px) {
    .intro {
        flex-direction: column;
    }
    .left_header, .right_header, .skills_container, .education_and_experience_container {
        width: 100%; 
    }
    .content {
        flex-direction: column;
    }
    .left_header {
        padding: 0 !important;
    }

    .left_header img.profile {
        max-width: 40%;
        padding-top: 10vw;
    }

    .left_header p.name {
        font-size: 7vw;
    }

    .left_header p.self_title {
        font-size: 3.5vw;
        line-height: 1.0;
    }

    .left_header p.blurb {
        font-size: 4vw;
    }

    .left_header p.info {
        font-size: 4vw;
        margin-bottom: 5vw;
    }

    .left_header img.icons {
        max-width: 8vw;
        margin-bottom: 4vw;
    }

    .left_header .links {
        display: flex;
        justify-content: center;
        gap: 15vw;
    }

    .left_header .download-resume {
        display: inline-block;
        padding: 3vw 4vw;
        background-color: #444;
        color: white;
        font-size: 4vw;
        text-decoration: none;
        border: none;
        border-radius: 10vw;
        margin-top: 1vw;
        margin-bottom: 3vw;
        cursor: pointer;
    }

    .right_header {
        padding-top: 5vw;
        text-align: center;
    }

    .right_header p.hi {
        font-size: 10vw;
        padding-top: 3vw;
    }

    .right_header p.spiel {
        font-size: 4vw;
    }
    .right_header p.spiel_japanese {
        font-size: 3.3vw;
    }
    .skills {
        flex-direction: row;
        /* margin: 2vw 2w; */
        justify-content: space-between;
        padding-left: 5vw;
        padding-right: 7vw;
    }
    .skills_container p.title {
        font-size: 6vw;
        margin-bottom: 1vw;
    }
    .skills p.skills_list {
        font-size: 2.5vw;
        font-family: 'Dosis', sans-serif;
        margin-left: 5vw;
        line-height: 1.4;
        margin-bottom: 1vw;
    }
    .skills p.list_title {
        font-size: 3vw;
        padding-bottom: 1vw;
    }
    .right_header p.spiel_japanese {
        font-size: 3vw;
        padding-bottom: 5vw;
    }

    p.section_title {
        font-size: 6vw;
        padding-left: 5vw;
    }
    p.skills_section_title {
        font-size: 6vw;
        padding-left: 3vw;
        padding-top: 5vw;
        padding-bottom: 2vw;
    }
    p.education_item_title {
        padding-left: 8vw;
    }
    p.reference_item {
        font-size: 2.3vw;
    }
}
